POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=streaming
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC=transaction_data

SPARK_IMAGE=bitnamilegacy/spark:3.5.0
SPARK_MASTER_URL=spark://spark-master:7077
SPARK_WORKER_MEMORY=3G
SPARK_WORKER_CORES=2
SPARK_SQL_SHUFFLE_PARTITIONS=4
PROCESSING_TIME=10 seconds
CHECKPOINT_LOCATION=/tmp/spark-checkpoints/fraud-stream
REFERENCE_DATA_PATH=/data/raw/fraudTrain.csv
MODEL_PATH=/opt/models/rf_model
POSTGRES_TABLE=fraud_predictions

STREAMLIT_PORT=8501
