# requirements.txt
# General dependencies
numpy==1.26.4
pandas==2.1.4
matplotlib==3.7.4
scikit-learn==1.4.0

# Kafka dependencies
kafka-python==2.0.2

# Database dependencies
psycopg2-binary==2.9.9

# Web UI dependencies
streamlit==1.32.0
plotly==5.18.0

# Spark dependencies
pyspark==3.5.0